<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/b5a98081-cd29-47a8-90b2-2af105aeb30e/resourceGroups/Skilldemy/providers/Microsoft.Web/sites/skilldemy</ResourceId>
    <ResourceGroup>Skilldemy</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://skilldemy.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>skilldemy.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>skilldemy</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>False</EnableMsDeployAppOffline>
    <UserName>$skilldemy</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Skilldemy.Models.ApplicationDbContext" Order="1" Enabled="False">
          <Destination Path="Data Source=188.210.221.82,1433;Initial Catalog=srv46158_skilldemy;User ID=srv46158_skilldemy;Password=Test12345" Name="Server=188.210.221.82,1433; Initial Catalog=srv46158_skilldemy; User ID=srv46158_skilldemy; Password=Test12345" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Skilldemy.Models.ApplicationDbContext, Skilldemy" MigrationConfiguration="Skilldemy.Migrations.Configuration, Skilldemy" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Server=188.210.221.82,1433; Initial Catalog=srv46158_skilldemy; User ID=srv46158_skilldemy; Password=Test12345;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=188.210.221.82,1433; Initial Catalog=srv46158_skilldemy; User ID=srv46158_skilldemy; Password=Test12345;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="Skilldemy.Models.ApplicationDbContext-Web.config Connection String">
      <ParameterValue>Server=188.210.221.82,1433; Initial Catalog=srv46158_skilldemy; User ID=srv46158_skilldemy; Password=Test12345</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Skilldemy.Models.ApplicationDbContext" />
  </ItemGroup>
</Project>