body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.course-availables {
    height: 10%;
    width: 80%;
    margin: 0px auto;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: left;
}

.course-wrapper {
    height: 10%;
    width: 80%;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin: 0px auto;
    overflow: hidden;
}

.course-left {
    float: left;
}

.course-right {
    overflow: hidden;
}

.course-title {
    padding:10px;
}

.main-course-wrapper {
    height: 100%;
    width: 100%;
    margin: 0px auto;
    overflow: hidden;
}

.main-course-left {
    float: left;
    height:50%;
    width:50%;
}

.main-course-right {
    overflow: hidden;
    height: 50%;
    width: 50%;
    text-align:right;
}

.main-course-subsection{
    display:none;
}

/* Validations */
.field-validation-error {
    color:red;
}

.input-validation-error{
    border: 2px solid red;
}

.wystyluj-mnie-proszę
{
    border-radius: 25px;
    position: center;
    margin-top: 15px;
    
}

.search_icon
{
    width:10px;
}


.top
{
    height: 400px;
    width: max;
    background-color: black;
}

.bottom {
    height: 400px;
    width: 100%;
    background-color: ghostwhite;
}

/*
    TOP DIV - image
*/

.img{
    width:100%;
    height:300px; 
}

.container-top {
    background-image: url(/UserFiles/walltop.jpg); 
    max-width: 100%;
    height: 300px;
}
/*
    Contact
*/
.container-contact {
    background-color: ghostwhite;
    height: 500px;
    width: 100%;
    text-align: center;
    padding: 40px;
    -webkit-box-shadow: inset 0px 0px 22px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: inset 0px 0px 22px 0px rgba(66, 68, 90, 1);
    box-shadow: inset 0px 0px 22px 0px rgba(66, 68, 90, 1);
}

.container-contact p{
    text-transform: uppercase;
    text-align:center;
    font-size:40px;
    margin-bottom:15px;
    color:#b1b1b1;
    letter-spacing: 2px;
}

.input-login {
    width: 70%;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 25px;
    border: 2px solid #e9eaea;
    font-size: 14px;
    border-radius: 5px;
    outline: none;
    transition: all 0.5s ease;
}

.input-mail {
    width: 70%;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 25px;
    border: 2px solid #e9eaea;
    font-size: 14px;
    border-radius: 5px;
    outline: none;
    transition: all 0.5s ease;
}

.input-login {
    width: 70%;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 25px;
    border: 2px solid #e9eaea;
    font-size: 14px;
    border-radius: 5px;
    outline: none;
    transition: all 0.5s ease;
}

.input-topic {
    width: 70%;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 25px;
    border: 2px solid #e9eaea;
    font-size: 14px;
    border-radius: 5px;
    outline: none;
    transition: all 0.5s ease;
}

.msng .area{
    width: 70%;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 25px;
    border: 2px solid #e9eaea;
    font-size:14px;
    border-radius: 5px;
    outline: none;
    transition: all 0.5s ease;
}

.login .input {
    width: 40%;
    float: left;
    margin-right: 5%;
}

.bttn {
    width: 250px;
    background:#b1b1b1;
    height:50px;
    text-align: center;
    line-height: 50px;
    color:#fff;
    text-transform:uppercase;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 5px;
}

.input:focus,
.msng .area:focus{
    border: 2px solid #b1b1b1;
}


/*
    Google Maps 
*/


.loc-map {
    width: 100%;
    height: 400px;
    -webkit-box-shadow: inset 0px 0px 22px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: inset 0px 0px 22px 0px rgba(66, 68, 90, 1);
    box-shadow: inset 0px 0px 22px 0px rgba(66, 68, 90, 1);
}
/*
    footer
*/
footer {
    background-color: ghostwhite;
    height: auto;
    width: 100%;
    font-family: Verdana;
    padding-top: 15px;
    color: #b1b1b1;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 30px;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
    
}

.socials li{
    margin: 0 10px;
}

.socials a {
        text-decoration: none;
        color: #b1b1b1;
    }

.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}

.socials a:hover i{
    color: #9f5f37;
}

.footer-bottom{
    background: #212121;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}